:root {
    --white: #FFFFFF;
    --navy-black: #252D33;
    --ashen-wind: #94A9B7;
    --green-seduction: #40B526;
    --blue: #0B5ED8;
    --purple: #3F1F81;
    --distant-horizon: #F3F7F9;
    --grey-line: #D1DCE2;
    --green-seduction_hover: #46c32a;;
} 


